html {
	overflow-y: scroll;
}

body{
	font:14px/1.5 'IBM Plex Sans', Arial, Helvetica, sans-serif;
	margin:0;
	background-color:#e2e2e1;
}

.ui-dialog { clear: both; }

.ui-dialog-buttonset,
.ui-dialog-content,
.ui-dialog-titlebar { 
	padding:5px; 
}

.ui-dialog-content { 
	padding:10px; 
}

.ui-dialog-buttonset button {
	margin-right:10px;
}

.ui-dialog-titlebar button {
	float:right;
	margin-top:-3px;
}

.ui-dialog-titlebar .ui-button-text {
	font-size:12px;
}

.ui-dialog-content h6 {
	font-size:14px;
}

a,
a:visited {
	color:#000000;
}

.basic150 {
	width:150px;
}

.basic200 {
	width:30%;
	float:left;
}


.infolabel {
    clear:both;
    float:left;
    width:220px;
    padding-top:5px;
}

.infovalue {
	float:left;
    padding-top:5px;
    max-width:250px;
}


.infofirstcolumn {
    clear:both;
    float:left;	
    width:520px;
}

.infosecondcolumn {
    float:left;
}

#herhalend h4,
#basic h4 {
	padding-bottom:10px;
}

#herhalend div,
#basic div {
	padding-top:0px;
}

#herhalend p span,
#basic p span {
	float:left;
}

#herhalend p input,
#basic p input {
	float:left;
}

#herhalend p,
#basic p {
	clear:both;
}

#herhalend select,
#basic select {
	/*width:150px;*/
}

.btn-omzetten,
.btn-select {
	background-color:#487abb;
	border-color:#487abb;
	color: #ffffff !important;
}

.btn-omzetten:hover,
.btn-select:hover {
	color: #fff;
	background-color: #4d4e43;
	border-color: #4d4e43
}

.btn-navigate {
	background-color:#f0f0f0;
	border-color:#9ba0a3;
	color:#666666;
}

.btn-navigate:hover {
	background-color: #cdcfd2;
	border-color: #666666
}

.editsingleitem {
	background-color:#f0f0f0;
	cursor:pointer;
	width:69%;
	display:block;
	padding-left:5px;
	padding-right:5px;
	float:left;
	margin-bottom:5px;
}

.normalsingleitem {
	background-color:#f0f0f0;
	cursor:default;
	width:69%;
	display:block;
	padding-left:5px;
	padding-right:5px;
	float:left;
	margin-bottom:5px;
}


.basicdevider {
	padding-top:10px;
	padding-bottom:10px;
}

#errorMessageNextButtons {
	margin-left:25px;
	padding:5px;
	background-color:#fcf4f2;
	border:1px solid #e62600;
	border-left:5px solid #e62600;
}

#errorMessageNextButtons i {
	padding-right:5px;
	padding-left:3px;
	color: #cc2200;
}

#errorMessage {
	color: #cc2200;
}

.validationError {
	border:2px solid #e62600;
	z-index: 100;
	margin-left:20px;
}
	
#succesfulNextButtons {
	margin-left:25px;
	padding:5px;
	background-color:#f3faef;
	border:1px solid #74c99b;
	border-left:5px solid #74c99b;
}

#succesfulNextButtons i {
	padding-right:5px;
	padding-left:3px;
	color: #74c99b;
}

#succesfulMessage {
	color: #476c36;
}

.filtermenu {
	background-color:#f9f9f9;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-bottom:20px;
}


.filtermenu form {
	padding-bottom:7px;
}

.menucolumn {
	float:left;
}

.filtermenu span {
	display:block;
	float:left;
	clear:both;	
	width:140px;
	height:22px;
}

.filtermenu select,
.filtermenu input {
	float:left;
	margin-right:20px;
	height:22px;
}

.datatable,
#datatable {
		width:100%;
}

#container {
	width: 100%; margin: 0 auto;
}

#contentwrapper {
	/*margin: auto;
    width: 950px; 
    padding-bottom:80px;*/
    background-color: #f9f9f9;
}


.menu-navigation-dark {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0;
    text-align: center;
    width:100%;
    background-color: #ffffff;
    border-bottom: 2px solid #e0e0e0;
}

.secondmenu-navigation-dark {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width:100%;
    background-color: #ffffff;
    padding-top:1em;
    padding-bottom:1em;
    box-shadow: 1px 3px 5px 0 rgba(208, 208, 208, 0.26)
}

.secondmenu-navigation-dark a,
.secondmenu-navigation-dark a:visited {
	color:#7c7c7c;
	text-decoration:none;
	font-size:1.2em;
	padding-left:1em;
	padding-right:1em;
}

.secondmenu-navigation-dark a:hover {
	color:#3a4a63;
}


.startgradient {
	/*height:250px; let op popup schermen gedragen zich anders*/ 
	margin-bottom:10px;
    background: #09518d; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e0e0e0, #f9f9f9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #f9f9f9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #f9f9f9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #f9f9f9); /* Standard syntax (must be last) */

	background-repeat:no-repeat;
	background-size:100% 300px;
}

.startcontent {
    margin: auto;
    width: 80%;
    padding-top:80px;
}

.activiteitenFullWidth {
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
	background-color: #fff;
	padding:40px;
    margin: auto;
    width: 100%;
}

.activiteitenSubnavigatie {
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
	background-color: #fff;
	padding:40px;
    margin: auto;
    width: 90%;
}

.activiteitenVandaag {
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
	background-color: #fff;
	padding:40px;
    margin: auto;
    width: 80%;
}

.headertext {
	clear:both;
	font-size:20px;
	padding-bottom:20px;
}

.headersmallertext {
	clear:both;
	font-size:18px;
	padding-bottom:20px;
}

.mainmenunavigationcontainer {
	width:100%;
    height: 140px;
    overflow: hidden;
}

.mainmenunavigation {
	float:left;
	width:100%;
	margin-bottom:10px;

	height:150px; /* 40px - more place for scrollbar, is hidden under parent box */
    padding:5px;
    white-space:nowrap;
    overflow-x: scroll;
    overflow-y: hide;
	-webkit-overflow-scrolling:touch;
}

.mainmenunavigation a {
    display:inline-block;
}

.submenunavigationcontainer {
	width:100%;
    height: 42px;
    overflow: hidden;
    border-bottom:1px solid #cccccc;
	margin-top: 45px;
}

.submenunavigation {
	background-color:#d8d8d5;
	float:left;
	width:100%;
	margin-bottom:10px;

	height:60px; /* 40px - more place for scrollbar, is hidden under parent box */
    padding:5px;
    white-space:nowrap;
    overflow-x: scroll;
    overflow-y: hide;
	-webkit-overflow-scrolling:touch;
}

.submenunavigation a {
    display:inline-block;
}

.submenunavigationright {
	float:right;
}

.btnactierechts {
	padding: 4px 10px !important;
	margin-top:1px;
}

.smallbox:first-child {
	margin-left:10px;
}

.smallbox {
    float:left;
    margin-right:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
}

a .smallbox{
	color:#3f3f3f;
}

a:hover .smallbox{
	color:#000000;
	cursor:pointer;
}

.bigbox {
    float:left;
    margin-right:10px;
    background-color:#4679BD;
    height:115px;
    width:115px;
    text-align:center;
	position: relative;
}


.bigbox p {
    margin: 0;
	word-wrap: break-word;
	white-space: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

a .bigbox{
	color:#ffffff;
}

a:hover .bigbox{
	background-color:#616161;
	color:#ffffff;
	cursor:pointer;
}



a .smallselectedsquare,
a:visited .smallselectedsquare,
a:active .smallselectedsquare {
	color:#000000 !important;
}

.smallselectedsquare {
	background: #ffffff !important;
	border-radius:1px;
}


.smallbox i {
	padding-right:7px;
}

.square-box{
    position: relative;
    width: 108px;
    overflow: hidden;
    background: #4679BD;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}

.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.square-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
}


.selectedsquare {
	background: #e57c35 !important;
}

.dp-note {
	position: absolute;
    background: #ccc;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    left: 50%;
    bottom: 1px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)	
}

.activiteitenDatumSelector {
	float:left;
	width:33%;
	min-width:270px;
}

.activiteitenDatumResultaten {
	float:left;
	width:66%;
}

.activiteitenCurrentDate {
	padding-bottom:15px;
}

.airdatepicker {
	z-index:200002 !important;
}


.searchgradient {
	height:10px;
	margin-bottom:10px;
    background: #f9f9f9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e0e0e0, #f9f9f9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #f9f9f9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #f9f9f9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #f9f9f9); /* Standard syntax (must be last) */
}


.buttonblock {
	margin-bottom:15px;
	border-radius:5px;
	text-align:left;
}

.buttonblock a {
	display: block;
    /*height: 100%;*/
    width: 100%;
	padding:15px;
    text-decoration: none;
}

.buttonblock a:hover {
	text-decoration:none;
	color:#000000;
}

.buttoncolor1 {
	background-color:#65d3b7;
	background-image: url('smiley.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right; 
    font-family: 'Roboto', sans-serif;
}

.buttoncolor2 {
	background-color:#c8ad90;
    font-family: 'Roboto', sans-serif;
}

.buttoncolor3 {
	background-color:#56c0e9;
    font-family: 'Roboto', sans-serif;
}

.buttoncolor4 {
	background-color:#f7b244;
    font-family: 'Roboto', sans-serif;
}

.buttoncolor5 {
	background-color:#f27f59 !important;
    font-family: 'Roboto', sans-serif;
}

.buttoncolor6 {
	background-color:#a5cda6;
    font-family: 'Roboto', sans-serif;
}

.buttoncolor7 {
	background-color:#869d9b;
    font-family: 'Roboto', sans-serif;
}

.searchtitleblock {
	background-color:#f4f4f4;
	padding-bottom:20px;
	margin-bottom:20px;
}

.loginwrapper {
	margin: auto;
    width: 100%;
    height:100%;

	background-color: #f4f4f4; 
	opacity: 0.95;
}

.logincontent {
	width:90%;
	margin:auto;
	padding-top:20px;
}

.loginlogowrapper {
	width:100%;
}

.loginlogo {
	padding-bottom:20px;
	width:255px;
}

.loginform {
	border:1px solid #ffffff;
	border-radius:5px;
	width:100%;
	background-color: rgb(243, 243, 243);
}

.loginrow {
  clear: both;
  margin-bottom:5px;
  margin-top:5px;
}

.logindivider {
	border-bottom:1px solid #ffffff;
}

.loginimage {
  float:left;
  padding-left:9px;
  padding-right:3px;
  padding-top:9px;
  padding-bottom:5px;
  width:35px;
  color:#a9a9a9;
}

.logininput {
  float:left;
  padding-bottom:5px;
}

.logininput input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  font-size:12px;
  border-bottom: solid 1px #c9c9c9;
  transition: border 0.3s;
  background-color:#f3f3f3;
}

.logininput input:focus,
.logininput input.focus {
  border-bottom: solid 1px #969696;
}

.btn-inloggen {
  margin-top:20px;
  width:100%;
}

.loginfooter {
	
	height: 92px; 
    position: fixed; 
    bottom:0%;
    width:100%; 
}

.optionfullwidth {
	clear:both;
    background-color: #ffffff; 
    opacity: 0.6;
    width:100%;
    margin-bottom:2px;
}

.optionfullwidth a {
	display: block;
    height: 100%;
    width: 100%;
	padding:12px;
    text-decoration: none;
}

.optionfullwidth a:hover {
	text-decoration:none;
	color:#000000;
}

.optionfullwidth i {
	float:right;
	padding-top:4px;
}


.slicknav_btn {
	height:30px;
	padding-top:9px;
}

.currentproject {
    float:right;
    text-align:center;
    margin-right:30px;
    background-color:#fff;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    color:#828282;
    padding:0.5em;
	height  : 50px;   
  	position: relative;
  	z-index : 1;
  	padding-top:13px;
  	padding-left:30px;
}

.currentproject:before {
  content : "";
  position: absolute;
  left    : 40%;
  bottom  : 0;
  height  : 1px;
  width   : 20%;  /* or 100px */
  border-bottom:2px solid #e77c29;
}

.searchicon {
    float:right;
    color:#828282;
}




.loginerrorMessage {
	margin-top:40px;
	margin-right:40px;
	padding:5px;
	background-color:#e33737;
	color:#ffffff;
	border-radius:5px;
}

.searchwrapper {
	margin: auto;
    width: 90%;
}

.searchtitleblock form {
	padding-top:20px;
}

.searchtitleblock span {
	font-weight:bold;
}

.searchtitleblock input[type="password"],
.searchtitleblock input[type="text"] {
  padding: 5px;
  border: none;
  border: solid 1px #c9c9c9;
}
.searchtitleblock input[type="password"]:focus,
.searchtitleblock input[type="password"].focus,
.searchtitleblock input[type="text"]:focus,
.searchtitleblock input[type="text"].focus {
 border-bottom: solid 2px #969696;
}
.searchtitleblock select {
  padding: 5px;
  border: none;
  border: solid 1px #c9c9c9;
}


.onlytext {
	text-align:center;
	text-transform: uppercase;
	color:#666666;
	font-weight:bold;
}

#frmClientZoeken {
	margin: auto;
    width: 350px;
}

#frmClientOverzicht {
	background-color:#c8d3e5;
}

#frmClientActiviteiten {
	background-color:#e2e8f6;
	padding:10px;
	clear:both;
	margin-top:20px;
}

#blkClientActiviteiten {
	margin-top:10px;
	clear:both;
}

.clientinfopopup {
	padding-left:8px;
}

.clientMenuText {
	width: 400px;
	margin: 0 auto;
}

.clear {
	clear:both;
}

.clientnaam {
	background-color:#3a4a63;
	padding:4px;
	padding-left:6px;
	color:#ffffff;
}

.clientinfo {
	clear:both;
}

.clienticon {
	float:left;
	background-color:#667999;
	color:#ffffff;
	width:200px;
	padding:4px;
	text-align:left;
	margin-top:1px;
}

.clienttekst {
	float:left;
	margin-top:1px;
	padding:4px;
	padding-left:10px;
	width:240px;
}

.activiteitenoverzicht {
	clear:both;
}

.activiteitenblok {
	float:left;
}

.activiteitenbloktitel {
	float:left;
	margin-top:1px;
}

.activiteitenbloktitel a,
.activiteitenbloktitel a:visited {
	color:#000000;
	padding:4px;
	text-decoration:none;
	display:block;
}

.activiteitenbloktitel a:hover {
	background-color:#f5f6fa;
}

.activiteitenblokaantal {
	background-color:#f5f6fa;
	color:#545d64;
	float:left;
	width:30px;
	font-weight:bold;
	text-align:center;
	margin-top:1px;
	padding:4px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	margin-right:15px;
}

.contentwrapper {
	margin:auto;
	width:90%;
}


.menuselected {
	border-bottom:#3a4a63 !important;
}

.menu-navigation-dark a {
    display: inline-block;
    color: #666666;
    background-color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    white-space: nowrap;
    border-top: none;
    width: 150px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-bottom:10px;
    padding-top:10px;

}

.menu-navigation-dark a:hover {
    border-bottom: 2px solid #666666;
    text-decoration:none;
}

.menu-navigation-dark a:first-child{
}

.menu-navigation-dark a:not(.selected) {
    inset 1px 0 0 #323435,
    inset 0 1px 0 #282a2b,
    inset 0 -1px 0 #282a2b;
}

.menu-navigation-dark a:last-child {
    inset 1px 0 0 #323435,
    inset -1px 0 0 #282a2b,
    inset 0 1px 0 #282a2b,
    inset 0 -1px 0 #282a2b;
}

.menu-navigation-dark a i {
    line-height: 1;
    padding-right:10px;
}

.menu-navigation-dark a span {
    font-size: 11px;
    font-weight: bold;
    line-height: 2;
    padding-right:10px;
}

.menu-navigation-dark a.selected {
    border-bottom: 2px solid #3092e6;
}

.menu-navigation-dark a.selected i {
}

.aantalgevondenitems {
	border-bottom: 1px dashed #3092e6;
	padding:2px;
	margin-bottom:20px;
}

.editablerow {
	background-color:#ececec;
}

.green {
	background-color:#667999 !important;
	color:#ffffff !important;
}


#title {
	width:100%;
    background-color: #f9f9f9;
	font-weight:bold;
	font-size:20px;
	padding-bottom:20px;
	padding-left:5px;
	padding-top:10px;	
}

.filter-table {
	width:100%;
    background-color: #f9f9f9;
    padding-left:10px;
    padding-bottom:10px;
    padding-top:10px;
}

.customButtons {
  width: 25px;
  overflow: hidden;
  text-align:center;
}


.datatable,
#datatable {
    border-collapse: collapse;
    BORDER: #ffffff 2px solid;
}

.datatable th,
#datatable th {
    background-color: #d8d8d5;
    padding: 10px;
    padding-top:10px;
    font-weight:bold;
	border-bottom: 1px solid #cccccc;
}

.datatable td,
#datatable td {
    border: 0.5px solid #dddddd;
    padding: 10px;
}

.datatable tr:nth-child(even),
#datatable tr:nth-child(even) {
    background-color: #f0f0f0;
}


th.rotate {
  /* Something you can count on */
  height: 88px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(0px, 51px)
    /* 45 is really 360 - 45 = 315*/
    rotate(-90deg);
  width: 30px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 12px 10px;
}

.slicknav_btn {
	height:30px;
	padding-top:12px;
}

.slicknav_right {
	height:30px;
	padding-top:9px;
	padding-right:10px;
}

#search-data{
	padding: 5px;
	border: solid 1px #a4a4a4; 
	background-color: #cccccc;
	color:#000000;
	display: inline;
	width: 80%;
	outline: none;
	font-size:0.8em;
	border-radius:5px;
	
}

#display-button{
	position:relative;
	width:50px;
	height:33px;
	float:right;
	text-align:center;
	float:right;
	background-color:#4679BD;	
	margin-right:10px;
}

#search-result-container {
  position: absolute;
  background: #ffffff;
  width: 300px;
  height: 300px;
  z-index:2;
  overflow-y: scroll;
  padding:5px;
}

.searchHeader {
  background-color:#4679BD; 
  color:#ffffff;
  padding-top:6px;
  padding-bottom:3px;
  padding-left:3px;
  white-space: pre-line;
  font-size:0.9em;
  text-shadow:none !important;
}

.searchItem:not(:last-child) {
  border-bottom: solid 1px #4679BD; 
  margin-top:3px;
  padding-top:6px;
  padding-bottom:6px;
  padding-left:3px;
  white-space: pre-line;
  font-size:0.9em;
}

.searchItem:last-child {
  margin-top:3px;
  padding-top:6px;
  padding-bottom:6px;
  padding-left:3px;
  white-space: pre-line;
  font-size:0.9em;
}

.organisationname {
    float:left;
    text-align:center;
    margin-right:30px;
    background-color:#fff;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    color:#828282;
    padding:0.5em;
	height  : 50px;   
  	position: relative;
  	z-index : 1;
  	padding-top:13px;
}

a.morelink {
	text-decoration:underline;
	outline: none;
}
.morecontent span {
	display: none;
}
.comment {
}

/* Make this page responsive */

.slicknav_menu {
    display:none;
}

@media (max-width: 800px) {
    .menu-navigation-dark{
        display:none;
    }

    .slicknav_nav a i {
        display: none;
    }

    .slicknav_menu {
        display:block;
    }
}

@media (min-width: 800px) {

    .menu-navigation-dark{
        display:none;
    }

    .slicknav_nav a i {
        display: none;
    }

    .slicknav_menu {
        display:block;
    }

	.loginwrapper {
		margin: 0;
		width: 350px;
		height:100%;
		margin-left:50px;
	}

	.loginlogo {
		padding-left:60px;
	}

	.loginfooter {
	
		height: 92px; 
		position: fixed; 
		bottom:0%;
		width:350px; 
	}
}
